################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstConsoleApp/.vs/MyFirstConsoleApp/v16/.suo
/ExperimentWithControls/.vs/ExperimentWithControls/v16/.suo
/PickRandomCards/.vs/PickRandomCards/v16/.suo
