################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstConsoleApp/.vs/MyFirstConsoleApp/v16/.suo
